h1 {
  font-family: 'Pragmatica', arial;
  font-size: 16.5px;
  color: rgb(70,70,70);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 44px;
  line-height: 140%;
  align-items: center;
  justify-content: center;
}

.gray-bar {
  position: relative;
  width: 100%;
  height: 12vh;
  background: rgb(216,216,216);
  margin: auto;
}

.small-square {
  position: absolute;
  left: 0%;
  width: 70px;
  height: 70px;
  background: rgb(74,144,226);
  margin-left: 20px;
  margin-top: 10px;
}

.text-box {
  width: 100%;
  height: 30vh;
  background: rgb(255,255,255);
  margin: auto;
  align-items: center;
  justify-content: center;
}

.blue-bar {
  width: 100%;
  height: 14.5vh;
  background: rgb(74,144,226);
  margin: auto;
}

.seagreen-bar {
  width: 100%;
  height: 14.5vh;
  background: rgb(80,227,194);
  margin: auto;
}

.peagreen-bar {
  width: 100%;
  height: 14.5vh;
  background: rgb(184,233,134);
  margin: auto;
}

.gold-bar {
  width: 100%;
  height: 14.5vh;
  background: rgb(248,231,28);
  margin: auto;
}
